
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Mongoose Flights</a>
          <ul id="nav-mobile" class="right">
            <li><a href="/flights/new">Add Flight</a></li>
            <li><a href="/flights/">All Flights</a></li>
          </ul>
        </div>
      </nav>
