<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Flight</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <%- include('../partials/nav') %>
    
    <h2>Add a Flight</h2>
    <form action="/flights" method="POST">
    
    
        <div class="row">
            <form action="/flights" method="POST" class="col s12">

                <div class="input-field col s12">
                    <select name="airline" class="selectAirline">
                    <option value="" disabled selected>Choose Airline</option>
                    <option value="American">American</option>
                    <option value="Southwest">Southwest</option>
                    <option value="United">United</option>
                    </select>
                    <label>Airline</label>
                  </div>


                  <div class="input-field col s12">
                    <select name ="airport" class="selectAirport">
                      <option value="DEN">DEN</option>
                      <option value="AUS">AUS</option>
                      <option value="DFW">DFW</option>
                      <option value="LAX">LAX</option>
                      <option value="SAN">SAN</option>
                    </select>
                    <label>Airport</label>
                  </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="flightNo" type="number" name = "flightNo" class="validate">
                        <label for="flightNo">Flight No.</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="depart" type="datetime-local" value="<%= dt %>" name = "depart" class="validate">
                        <label for="depart" class="active">Departure Date</label>
                    </div>
                </div>

                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                </div>

            </form>
          </div>
                
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
 
        const SelectAirline = document.querySelector('.selectAirline');
        M.FormSelect.init(SelectAirline,{});

        const SelectAirport = document.querySelector('.selectAirport');
        M.FormSelect.init(SelectAirport,{});

    </script>
</body>
</html>